﻿@page "{searchString?}"
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" role="button" class="btn btn-primary">Create New</a>
</p>
<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="button" value="Filter" id="filter" />
        @section Scripts {
            <script>
                $(function () {
                    $('#filter').on('click', function () {
                        let genre = encodeURIComponent($("#MovieGenre").val());
                        let searchString = encodeURIComponent($("#SearchString").val());
                        $('#grid').load('/Movies?handler=Grid&MovieGenre=' + genre + '&SearchString=' + searchString);
                    });
                });
            </script>
        }
    </p>
</form>
<div id="grid"></div>
